@import url('https://fonts.googleapis.com/css?family=Fira Sans&display=swap');

html {
    min-height: 100%;
}

body {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: Fira Sans, serif;
    background: linear-gradient(25deg, rgba(174, 49, 64, 0.747) 0%, #fff 25%);
}

#navbarNav {
    justify-content: center;
}

.navbar {
    background: linear-gradient(90deg, #fff 15%, rgb(239, 215, 220) 30%, rgb(239, 215, 220) 40%, rgb(239, 215, 220) 50%, rgb(239, 215, 220) 65%, #fff 75%);
}

.nav-link {
    font-weight: 500;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.877);
}

.nav-link:hover {
    color: rgb(15, 158, 214);
}

.navbar-nav .nav-link.active {
    color: rgb(15, 158, 214);
}

.nav-item {
    margin-inline: 1em;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgba(239, 215, 220, 0);
}

.contacts>.dropdown>button {
    padding-left: 0;
    background-color: rgba(239, 215, 220, 0);
    color: rgba(0, 0, 0, 0.877);
    border: 0;
    font-weight: 500;
    font-size: x-large;
}

.contacts>.dropdown>button:hover {
    color: rgb(15, 158, 214);
}

.contacts>.dropdown>.btn-primary:active {
    background-color: rgba(15, 158, 214, 0);
}

.contacts>.dropdown>.dropdown-menu {
    margin-top: 0.5em;
    border-color: rgb(239, 215, 220);
    border-width: 2px;
    font-size: 1.2em;
}

.social-media {
    height: 100%;
    margin-right: 1em;
}

.social-media>a>img {
    width: 30px;
    margin-inline: 1em;
    animation: smAnim 1s ease 0s 1 normal forwards;
}

.about-me {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(15, 158, 214);
    margin-top: 15%;
    padding-inline: 0;
}

.about-me>p {
    margin-bottom: 0;
}

.about-me>p>a {
    margin-left: 0.5em;
}

.about-me>p>a>button {
    color: rgb(15, 158, 214);
    font-size: 0.8em;
}

.about-me>p>a>button:hover {
    background-color: rgb(15, 158, 214);
}

.about-me>p>a>.btn-outline-primary:active {
    background-color: rgb(4, 174, 241);
}

.zerotwo-image {
    position: absolute;
    top: 72px;
    bottom: 0;
    right: 0;
    padding-inline: 0;
}

.zerotwo-image>.ztimg {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.zerotwo-image>.DITFlogo {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0.5em;
}

.call-anim {
    animation: nav-and-imgAnim 1.2s ease 0s 1 normal forwards;
}


@keyframes nav-and-imgAnim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes smAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-9px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-7px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-5px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-3px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-1px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

/* РАЗОБРАТЬСЯ ПОЧЕМУ ОНИ НЕ РАБОТАЮТ */

@media (max-width: 900px) {
    .navbar-nav .nav-item {
        position: relative;
        left: 40%;
    }

    .dropdown {
        display: inline-flex;
        margin-bottom: 1em;
    }

    .dropdown-menu{
        display: none;
    }

    .social-media {
        margin-left: 36%;
    }

    .about-me {
        margin-top: 5%;
    }

    .zerotwo-image {
        position: absolute;
        top: 50%;
        bottom: 0;
        right: 0;
        padding-inline: 0;
    }
    .zerotwo-image>.DITFlogo {
        display: none;
    }
}

@media (max-width: 650px) {
    .navbar {
        background: linear-gradient(90deg, #fff 0%, rgb(239, 215, 220) 15%, rgb(239, 215, 220) 40%, rgb(239, 215, 220) 50%, rgb(239, 215, 220) 65%, rgb(239, 215, 220) 75%);
    }

    .navbar-nav .nav-item {
        position: relative;
        left: 10%;
    }

    .dropdown {
        display: block;
        margin-bottom: 1em;
    }

    .dropdown-menu{
        display: none;
    }

    .social-media {
        margin-left: 10%;
        margin-right: 0;
    }

    .about-me {
        margin-top: 5%;
        padding-inline: 1em;
    }
    
    .zerotwo-image{
        display: none;
    }
}